.dependencies
config.mak
configure.log
features.h

black_720x576.c
nosignal_720x576.c
vdrlogo_720x576.c

*.o
*.so
libvdr-*.so.*
libxineliboutput-*.so.*
mpg2c
vdr-fbfe
vdr-sxfe
vdr-wlfe

po/*.mo
po/*.pot
